/* general */

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.wrap {
  display: flex;
  flex-direction: row;
}

.logo {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
  font-size: 8rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  pointer-events: none;  
}


/* everything left */

.left {
  background: rgb(246, 242, 230);
  width: 50%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1.3fr 0.2fr 1fr;
  grid-template-areas: "intro intro intro"
                        ". . ."
                        "info info info";
}

.intro {
  grid-column-start: 1 ;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  font-size: 1.6rem;
  font-weight: lighter;
  padding: 2rem 3rem;
  line-height: 1.5;
  pointer-events: none;
  font-family: "Roboto",sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  padding-bottom: 0;
  padding: 2rem 3rem;
  border: 0;
  font-size: 2vh;
  line-height: normal;
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-content: top;
  flex-wrap: wrap;
}

.columnOne {
  flex-grow: 1;
  padding: 0.4rem;
}

.columnTwo {
   flex-grow: 1;
   padding: 0.4rem;
  
}

.columnThree {
   flex-grow: 1;
   padding: 0.4rem;
 
}

.columnFour {
   flex-grow: 1;
   padding: 0.4rem;
 
}

ul {
  list-style: none;
  display: inline-block;
  padding: 0px;
}

.skills {
  padding: 0;

}

.head {
  padding-bottom: 15px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

.uitlegTime {
  position: fixed;
  font-size: 10px;
  left: 47.4%;
  top: 15.4%;
  opacity: 90%;
  transform-origin: 0 0;
  /*transform: rotate(-90deg);*/
  width: 100px;
  font-family: "Roboto", sans-serif;
  color: black;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

#verticalLine {
  position: relative;
  left: -110px;
  bottom: 102px;
  height: 95px;
  border-left: 0.8px solid black;
  border-color: black;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}



/* everything right */

.right {
  background: url(five.jpg);
  background-size: cover; 
  background-position: top 10% left 10%;
  width: 50%; 
  height: 100vh; 
  overflow: auto;
}

.logo img
 {
  pointer-events: auto;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  z-index: 1000000;
  filter: invert(1) contrast(80%) drop-shadow(0px 0px 15px white); 
}

.logo img:hover {
  pointer-events: auto;
  filter: invert(1) contrast(180%) drop-shadow(3px 3px 6px white); 
}

.logo a {
  position:relative; 
  top:-75px;
  padding-left: 0.2%;
}

.uitlegProjects {
  position: fixed;
  font-size: 10px;
  left: 97.4%;
  top: 18%;
  opacity: 90%; 
  transform-origin: 0 0;
  transform: rotate(-90deg);
  width: 150px;
  font-family: "Roboto", sans-serif;
  color: white;
}

.vlOne {
  transform: rotate(90deg);
  top: -30px;
  right: 186px;
  border-left: 1px solid white;
  height: 200px;
  position: relative;
  border-color: rgb(215, 221, 252);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.vlOne:hover {
  border: solid red;
  border-width: 0 2px 2px 0;
}



/* center div upon click */

.centered {
  text-align: center;
  font-size: 100%;
  margin: 0 auto;
  top: 50%;
  vertical-align:middle;
  position: relative;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: white;
}


/* stars in logo */

.spanStof {
  font-size: 7rem;
  background-image: url(NGC_3114.png);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  -webkit-backface-visibility:hidden;
  
}

.halfStyle {
    position:relative;
    font-size: 7rem;
    display:inline-block;
    color: transparent; /* hide the base character */
    overflow:hidden;
    white-space: pre; /* to preserve the spaces from collapsing */
}
.halfStyle:before { /* creates the left part */
    background-image: url(NGC_3114.png);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-backface-visibility:hidden;
    display:block;
    font-size: 7rem;
    z-index:1;
    position:absolute;
    top:0;
    width: 50%;
    content: attr(data-content); /* dynamic content for the pseudo element */
    overflow:hidden;
    pointer-events: none; /* so the base char is selectable by mouse */
    color: black; /* for demo purposes */
    
}
.halfStyle:after { /* creates the right part */
     background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-backface-visibility:hidden;
    font-size: 7rem;
    display:block;
    direction: rtl; /* very important, will make the width to start from right */
    position:absolute;
    z-index:2;
    top:0;
    left:50%;
    width: 50%;
    text-shadow: 1px 1px 2px white;
    content: attr(data-content); /* dynamic content for the pseudo element */
    overflow:hidden;
    pointer-events: none; /* so the base char is selectable by mouse */
    color: white; /* for demo purposes */
}

.nstof {
  background: white;
  font-size: 7rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-backface-visibility:hidden;
  filter: drop-shadow(1px 1px 1px black);
  text-shadow: 2px 2px 15px white;
  padding-right: 5px;
}


/* MEDIA QUERIES */

/*phone */

@media only screen 
  and (min-device-width: 10px) 
  and (max-device-width: 500px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

  .left {
    background-color: green;
  }

 
  }

/* Ipad */

@media only screen 
  and (min-width: 700px) 
  and (max-width: 1250px) 
  and (-webkit-min-device-pixel-ratio: 2)
   { 

    .intro {
      padding: 0 5rem;
    }

    .info {
      max-height: 60vh;
      min-height: 55vh;
      flex-direction: column;
      font-size: 1.2em;
      justify-content: center;
      align-content: center;
      text-align: center;
      align-items: center;
      padding: 1rem;
    }

    .info > div {
      max-height: 30vh;
      padding: 1.1rem 0;
    }

    .head {
      padding: 0.4rem;
    }
    .left {
      background-color: pink;
    }

    .logo {
      top: 37%;
      left: 50%;
      transform: translate(-55%, -50%);
      font-size: 5rem;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      pointer-events: none;
      -webkit-transform: translate(-55%, -50%);
      -moz-transform: translate(-55%, -50%);
      -ms-transform: translate(-55%, -50%);
      -o-transform: translate(-55%, -50%);
}


  }