/* general */

html {
  background-color: rgb(246, 242, 230);
}

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.logo {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
  font-size: 8rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}

.fade {
  opacity: 0;
}


/* everything left */

.left {
  background-color: rgb(246, 242, 230);
  position: fixed;
  width: 50%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1.3fr 0.2fr 1fr;
  grid-template-areas: "intro intro intro"
                        ". . ."
                        "info info info";   
                        transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;                    
}

.slideOut {
  position: absolute;
  transform: matrix(1, 0, 0, 1, -640, 0);
  -webkit-transform: matrix(1, 0, 0, 1, -640, 0);
  -moz-transform: matrix(1, 0, 0, 1, -640, 0);
  -ms-transform: matrix(1, 0, 0, 1, -640, 0);
  -o-transform: matrix(1, 0, 0, 1, -640, 0);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.slideIn {
  transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  transition: all 1.5s ease-in;
  -webkit-transition: all 1.5s ease-in;
  -moz-transition: all 1.5s ease-in;
  -ms-transition: all 1.5s ease-in;
  -o-transition: all 1.5s ease-in;
}

.intro {
  grid-column-start: 1 ;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  font-size: 1.6rem;
  font-weight: lighter;
  padding: 2rem 3rem;
  line-height: 1.5;
  pointer-events: none;
  font-family: "Roboto",sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  padding-bottom: 0;
  padding: 2rem 0.5rem;
  font-size: 1.8vh;
  letter-spacing: 1.5px;
  line-height: normal;
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-content: top;
  flex-wrap: wrap;
  font-family: "Roboto",sans-serif;
  list-style: none;
  text-decoration: none;
}

.skills, .about, .contact, .contactMe {
  list-style: none;
  text-decoration: none;
  padding-right: 1rem;
}

.head {
  padding: 1rem 0px;
  font-weight: bold;
}

li {
  padding: 0.2rem 0rem;
}

a {
  text-decoration: none;
  color: black;
}

.uitlegTime {
  position: fixed;
  display: block;
  font-size: 10px;
  z-index: 10;
  left: 47.4%;
  top: 15.4%;
  opacity: 90%;
  transform-origin: 0 0;
  /*transform: rotate(-90deg);*/
  width: 100px;
  font-family: "Roboto", sans-serif;
  color: black;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

#verticalLine {
  position: relative;
  left: -110px;
  bottom: 102px;
  height: 95px;
  border-left: 0.8px solid black;
  border-color: black;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}


/* everything right */

.right {
 /* background: url(five.jpg);
  background-size: cover; 
  background-position: top 10% left 10%; */
  background-color: rgb(246, 242, 230);
  width: 50%; 
  position: absolute;
  right: 0;
  z-index: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;

}

.logo img
 {
  pointer-events: auto;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  z-index: 1000000;
  filter: invert(1) contrast(80%) drop-shadow(0px 0px 15px white); 
}

.logo img:hover {
  pointer-events: auto;
  filter: invert(1) contrast(180%) drop-shadow(3px 3px 6px white); 
}

.logo a {
  position:relative; 
  top:-75px;
  padding-left: 0.2%;
}

.uitlegProjects {
  position: fixed;
  z-index: 10;
  font-size: 10px;
  left: 97.4%;
  top: 18%;
  opacity: 90%; 
  transform-origin: 0 0;
  transform: rotate(-90deg);
  width: 150px;
  font-family: "Roboto", sans-serif;
  color: white;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.vlOne {
  transform: rotate(90deg);
  top: -30px;
  right: 186px;
  border-left: 1px solid white;
  height: 200px;
  position: relative;
  z-index: 10;
  border-color: rgb(215, 221, 252);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

/* projects background */

section {
  position: relative;
  width: 100%;
  height: 150vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50vw;
  z-index: 0;
  font-size: 12px;
}

.one-bg {
  background-image: url(parfum.jpg);
  background-position: center;
  
}

.two-bg {
  background-image: url(IMG_6013kopie.JPG);
  background-position: left 50% top 20%;
 
}

.three-bg {
  background-image: url(seven.jpg);
  background-position: 20%;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.card {
  border: 1px solid rgba(246, 242, 230, 0.671);
  box-shadow: 0px 0px 30px rgb(246, 242, 230);
  /*border: 10px solid blueviolet;
  */position: absolute;
  right: 15%;
  width: 70%;
  left: 15%;
  height: 25%;
  z-index: 10;
  bottom: 20%;
  z-index: 500;
  cursor: pointer;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
}

.card p {
  display: none;
}

.one {
  background-image: url(parfumsection.jpg);
  background-position: center;
  background-size: cover;
  align-self: center;
  z-index: 100000;
}

.uitlegCardsOne  {
  text-align: right;
  position: absolute;
  right: 15%;
  width: 70%;
  left: 15%;
  z-index: 100;
  bottom: 10%;
  color: white;
  cursor: pointer !important;
}

.uitlegCardsTwo  {
  text-align: right;
  position: absolute;
  right: 15%;
  width: 70%;
  left: 15%;
  z-index: 100;
  bottom: 10%;
  color: white;
  cursor: pointer ;
}

.uitlegCardsTwo .h1, .uitlegCardsTwo p, .uitlegCardsTwo a {
  color: black !important;
}

.h1{
  text-align: right !important;
  display: block;
  font-weight: bold;
  font-size: 14px !important ;
  padding: 0.4rem 0 !important ;
}
.uitlegCardsTwo p, .uitlegCardsOne p, .uitlegCardsThree p  {
  text-align: right;
  padding: 0.2rem 0;
} 

.uitlegCardsTwo a, .uitlegCardsOne a, .uitlegCardsThree a  {
  text-align: right;
  padding: 0.2rem 0;
  color: white;
  
} 

.uitlegCardsThree  {
  text-align: right;
  position: absolute;
  right: 15%;
  width: 70%;
  left: 15%;
  z-index: 100;
  bottom: 10%;
  color: white;
  cursor: pointer;
}

.two {
  background-image: url(yanji.jpg);
  background-position: center;
  background-size: cover;
  align-self: center;
  z-index: 300;
}
.three {
  background-image: url(sterrenstof.jpg);
  background-position: center;
  background-size: cover;
  z-index: 3;
  
}

/* info about the projects */

.extreemRechts {
  background-color: rgb(246, 242, 230);
  position: fixed;
}

.extreemRechts p {
  padding: 0.5rem 0;
}



#infoOne, #infoTwo, #infoThree  {
  font-family: 'Open-Sans', sans-serif;
  letter-spacing: 0.03rem;
  position: fixed;
  font-size: 16px;
  left: 50%;
  width: 50vw;
  height: 100vh;
  display: none;
  color: black;
  padding: 15% 12%;
  text-align: left;
  transition: all 1.5s;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -ms-transition: all 1.5s;
  -o-transition: all 1.5s;
  transform: translateX(0%);
  -webkit-animation: anim 3.5s ;
  animation: anim 3.5s 1;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}

@-webkit-keyframes anim {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}
  14.28% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
}
@keyframes anim {
  0% {
    transform: translateX(100%);
  }
  14.28% {
    transform: translateX(0);
  }
  
}

.extreemRechts a {
  font-size: 14px;
}

.close {
  z-index: 1000;
  position: fixed;
  display: none;
  right: 5%;
  top: 5%;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  color: black;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  right: 5%;
  top: 5%;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: rgb(27, 26, 26);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


.blockquote {
  padding: 5vh;
  position: relative;
}
.blockquote p {
  font-family: "Utopia-italic";
  font-size: 14px;
  font-weight: 700px;
  text-align: left;
}

.blockquote:before {
position: absolute;
font-family: 'FontAwesome';
top: 3vh;
left: 15vh;
content:"\f10d";
font-size: 50px;
color: rgba(0,0,0,0.1);
 
}

.blockquote::after {
  content: "";
  top: 20px;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  border-bottom: 3px solid #bf0024;
  height: 3px;
  width: 200px;
}



/* stars in logo */

.spanStof {
  z-index: 1;
  font-size: 7rem;
  background-image: url(NGC_3114.png);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-backface-visibility:hidden;
  
}

.halfStyle {
    position:relative;
    z-index: 10;
    font-size: 7rem;
    display:inline-block;
    color: transparent; /* hide the base character */
    overflow:hidden;
    white-space: pre;
    background-image: url(NGC_3114.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-backface-visibility:hidden; /* to preserve the spaces from collapsing */
}
.halfStyle:before { /* creates the left part */
    background-image: url(NGC_3114.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-backface-visibility:hidden;
    display:block;
    font-size: 7rem;
    z-index:20;
    position:absolute;
    top:0;
    width: 50%;
    content: attr(data-content); /* dynamic content for the pseudo element */
    overflow:hidden;
    pointer-events: none; /* so the base char is selectable by mouse */
    color: black; /* for demo purposes */
    
}
.halfStyle:after { /* creates the right part */

     background-image: url(NGC_3114.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-backface-visibility:hidden;
    font-size: 7rem;
    display:block;
    direction: rtl; /* very important, will make the width to start from right */
    position:absolute;
    z-index:20;
    top:0;
    left:50%;
    width: 50%;
    content: attr(data-content); /* dynamic content for the pseudo element */
    overflow:hidden;
    pointer-events: none; /* so the base char is selectable by mouse */
    color: white; /* for demo purposes */
}

.nstof {
  position: relative;
  background-image: url(NGC_3114.png);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-backface-visibility:hidden;
  font-size: 7rem;
  padding-right: 5px;
  z-index: 20;
}

 .uitleg-bg-one, .uitleg-bg-two, .uitleg-bg-three {
   display: none;
 } 


/* MEDIA QUERIES */


/* Ipad */

@media only screen 
  and (min-width: 700px) 
  and (max-width: 1250px) 
  and (-webkit-min-device-pixel-ratio: 2)
   { 

    .left{
      height: 80vh;
      width: 100vw;
      position: relative;
    }

    .right {
      width: 100vw;
      position: relative;
    }

    .uitlegTime {
      display: none;
    }

    .intro {
      padding: 1rem 5rem;
      max-height: 20vh;
    }

    .info {
      max-height: 50vh;
      min-height: 35vh;
      flex-direction: row;
      font-size: 1em;
      justify-content: flex-start;
      align-content: center;
      text-align: center;
      align-items: center;
      padding: 1rem;
      margin: 0 auto;
    }

    .info > div {
      max-height: 30vh;
      padding: 1.1rem 0;
    }

    .head {
      padding: 0.4rem;
    }
    .left {
      background-color: white;
    }

    .logo {
      z-index: 10;
      position: absolute;
      top: 35vh;
      left: 50%;
      padding-left: 5vh;
      transform: translate(-55%, -50%);
      font-size: 5rem;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      pointer-events: none;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      }

      .uitlegProjects {
        color: black;
        position: absolute;
        top: 10vh;
      }

      .vlOne {
        border-color: black;
  
      }

      section {
        width: 100vw;
      }

      .logo img
      {
        filter: drop-shadow(0px 0px 15px white);
        -webkit-filter: drop-shadow(0px 0px 15px white);
      }

      .card {
        height: 22%;
        width: 75%;
        bottom: 40%;
        display: flex;
        flex-direction: column;
        vertical-align: center;
        align-self: center;
        justify-content: flex-end;
        vertical-align: center;
        text-align: center;
        pointer-events: none;
      }

      .uitlegCardsOne,.uitlegCardsTwo, .uitlegCardsThree {
        bottom: 33%;
      }

      .card p {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        padding: 1rem;
        color: white;
        background: rgba(0, 0, 0, 0.7); 
      }

      .extreemRechts, .close, .infoOne, .infoTwo, .infoThree {
        display: none !important;
      }

      .uitlegProjects {
        display: none;
      }

      .uitleg-bg-one, .uitleg-bg-two, .uitleg-bg-three {
        display: block;
        position: absolute;
        bottom: 30vh;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        padding: 2.5rem;
        color: white;
        background: rgba(0, 0, 0, 0.7); 
      }

      .uitleg-bg-three {
        bottom: 20vh;
      }
  }

  /* Iphone */

  @media only screen 
  and (min-width: 300px) 
  and (max-width: 500px) 
  and (-webkit-min-device-pixel-ratio: 2)
   { 

    

    .left{
      height: 80vh;
      width: 100vw;
      position: relative;
    }

    .right {
      width: 100vw;
      position: relative;
    }

    .uitlegTime {
      display: none;
    }

    .intro {
      padding: 1rem 5rem;
      max-height: 20vh;
      font-size: 1.1em;
    }

    .info {
      max-height: 70vh;
      min-height: 48vh;
      min-width: 100vw;
      flex-direction: column;
      font-size: 0.5em;
      justify-content: center;
      align-content: center;
      text-align: center;
      align-items: center;
      padding: 1rem;
      margin: 0 auto;
      font-size: 1.1em;
    }

    .info > div {
      max-height: 30vh;
      padding: 1.1rem 0;
      font-size: 0.5em;
    }

    .head {
      padding: 0.4rem;
    }
    .left {
      background-color: white;
    }

    .logo {
      z-index: 10;
      position: absolute;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      top: 25vh;
      width: 100vw;
      left: 0;
      transform: none;
      font-size: 2rem;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      pointer-events: none;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
}

.logo img {
  display: none;
}

      .spanStof, .halfStyle, .halfStyle:before, .halfStyle:after, .nstof, .logo img {
        font-size: 3rem;
      }

      .uitlegProjects {
        color: black;
        position: absolute;
        top: 10vh;
      }

      .vlOne {
        border-color: black;
  
      }

      section {
        width: 100vw;
      }

      .logo img
      {
        filter: drop-shadow(0px 0px 15px white);
        -webkit-filter: drop-shadow(0px 0px 15px white);
      }

      .card {
        height: 20%;
        width: 75%;
        bottom: 60%;
        display: flex;
        flex-direction: column;
        vertical-align: center;
        align-self: center;
        justify-content: flex-end;
        vertical-align: center;
        text-align: center;
        pointer-events: none;
        overflow-y: scroll;
      }

      .uitlegCardsOne,.uitlegCardsTwo, .uitlegCardsThree {
        bottom: 48%;
      }

    .uitleg-bg-one, .uitleg-bg-two, .uitleg-bg-three {
        display: block;
        position: absolute;
        bottom: 40vh;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        padding: 1.5rem;
        color: white;
        background: rgba(0, 0, 0, 0.7); 
      }

      .uitleg-bg-three {
        bottom: 0;
      }

      .extreemRechts, .close, .client, .infoOne, .infoTwo, .infoThree {
        display: none;
      }

  .slideOut {
    display: none;
    position: absolute;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
  }

  .slideIn {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
  }

  .uitlegProjects {
    display: none;
  }
  }